/**
For cropping, reference: https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fithttps://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit
*/

@media screen {
  .printedPage {
    display: inline;
    border: 1px solid red;
    padding-right: 3px;
  }
}

@media print {
  .loader {
    display: none;
  }

  .a3FirstImage {  
    width: 100%;
  }
  
  .a3SecondImage {  
    width: 100%;
  }  

  .printedPage {
    page-break-after: always;
  }
}

