@media screen {  
  /* Hide all images that don't have a source specified */
  .results img[src=] {
    display: none;
  }

  .printedPage {
    display: inline;
    padding-right: 3px;
  }
}

@media print {
  .heading, .loadingContainer {
      display: none;
  }

  .a3FirstImage {  
    width: 100%;
  }
  
  .a3SecondImage {  
    width: 100%;
  }  

  .printedPage {
    page-break-after: always;
  }
}

